extends layout

block content
  h2 Sign In
  table
    form(method="post") 
      tr
        td
          label(for="email") Email:
        td
          input(type="email" id="email" name="email")
      tr
        td
          label(for="password") Password:
        td
          input(type="password" id="password" name="password")
      tr
        td
          input(type="submit")    
